#roster-pane__content
  border-width: 0 1px 0 0

.chat-list__item__avatar
  margin-right: 6px
  border-radius: 100%
  border: 1px #888a85 solid
  background: #d3d7cf

.chat-list__item__name
  font-size: 12px
  font-weight: bold

.chat-list__item__last-message-time
  color: #888a85

.chat-list__item:selected .chat-list__item__last-message-time
  color: #ddd
